# Практическая работа

# Задача

Один из способов повысить эффективность взаимодействия банка с клиентами — отправлять предложение о новой услуге не всем клиентам, а только некоторым, которые выбираются по принципу наибольшей склонности к отклику на это предложение.

Задача заключается в том, чтобы предложить алгоритм, который будет выдавать склонность клиента к положительному или отрицательному отклику на предложение банка. Предполагается, что, получив такие оценки для некоторого множества клиентов, банк обратится с предложением только к тем, от кого ожидается положительный отклик.

Для решения этой задачи загрузите файлы из базы в Postgres.
Эта БД хранит информацию о клиентах банка и их персональные данные, такие как пол, количество детей и другие.

Описание таблиц с данными представлено ниже.

**D_work**

Описание статусов относительно работы:
- ID — идентификатор социального статуса клиента относительно работы;
- COMMENT — расшифровка статуса.


**D_pens**

Описание статусов относительно пенсии:
- ID — идентификатор социального статуса;
- COMMENT — расшифровка статуса.


**D_clients**

Описание данных клиентов:
- ID — идентификатор записи;
- AGE	— возраст клиента;
- GENDER — пол клиента (1 — мужчина, 0 — женщина);
- EDUCATION — образование;
- MARITAL_STATUS — семейное положение;
- CHILD_TOTAL	— количество детей клиента;
- DEPENDANTS — количество иждивенцев клиента;
- SOCSTATUS_WORK_FL	— социальный статус клиента относительно работы (1 — работает, 0 — не работает);
- SOCSTATUS_PENS_FL	— социальный статус клиента относительно пенсии (1 — пенсионер, 0 — не пенсионер);
- REG_ADDRESS_PROVINCE — область регистрации клиента;
- FACT_ADDRESS_PROVINCE — область фактического пребывания клиента;
- POSTAL_ADDRESS_PROVINCE — почтовый адрес области;
- FL_PRESENCE_FL — наличие в собственности квартиры (1 — есть, 0 — нет);
- OWN_AUTO — количество автомобилей в собственности.


**D_agreement**

Таблица с зафиксированными откликами клиентов на предложения банка:
- AGREEMENT_RK — уникальный идентификатор объекта в выборке;
- ID_CLIENT — идентификатор клиента;
- TARGET — целевая переменная: отклик на маркетинговую кампанию (1 — отклик был зарегистрирован, 0 — отклика не было).
    
    
**D_job**

Описание информации о работе клиентов:
- GEN_INDUSTRY — отрасль работы клиента;
- GEN_TITLE — должность;
- JOB_DIR — направление деятельности внутри компании;
- WORK_TIME — время работы на текущем месте (в месяцах);
- ID_CLIENT — идентификатор клиента.


**D_salary**

Описание информации о заработной плате клиентов:
- ID_CLIENT — идентификатор клиента;
- FAMILY_INCOME — семейный доход (несколько категорий);
- PERSONAL_INCOME — личный доход клиента (в рублях).


**D_last_credit**

Информация о последнем займе клиента:
- ID_CLIENT — идентификатор клиента;
- CREDIT — сумма последнего кредита клиента (в рублях);
- TERM — срок кредита;
- FST_PAYMENT — первоначальный взнос (в рублях).


**D_loan**

Информация о кредитной истории клиента:
- ID_CLIENT — идентификатор клиента;
- ID_LOAN — идентификатор кредита.

**D_close_loan**

Информация о статусах кредита (ссуд):
- ID_LOAN — идентификатор кредита;
- CLOSED_FL — текущий статус кредита (1 — закрыт, 0 — не закрыт).

Ниже представлен минимальный список колонок, которые должны находиться в итоговом датасете после склейки и агрегации данных. По своему усмотрению вы можете добавить дополнительные к этим колонки.

    - AGREEMENT_RK — уникальный идентификатор объекта в выборке;
    - TARGET — целевая переменная: отклик на маркетинговую кампанию (1 — отклик был зарегистрирован, 0 — отклика не было);
    - AGE — возраст клиента;
    - SOCSTATUS_WORK_FL — социальный статус клиента относительно работы (1 — работает, 0 — не работает);
    - SOCSTATUS_PENS_FL — социальный статус клиента относительно пенсии (1 — пенсионер, 0 — не пенсионер);
    - GENDER — пол клиента (1 — мужчина, 0 — женщина);
    - CHILD_TOTAL — количество детей клиента;
    - DEPENDANTS — количество иждивенцев клиента;
    - PERSONAL_INCOME — личный доход клиента (в рублях);
    - LOAN_NUM_TOTAL — количество ссуд клиента;
    - LOAN_NUM_CLOSED — количество погашенных ссуд клиента.

Будьте внимательны при сборке датасета: это реальные банковские данные, в которых могут наблюдаться дубли, некорректно заполненные значения или значения, противоречащие друг другу. Для получения качественной модели необходимо предварительно очистить датасет от такой информации.

## Задание 1

Соберите всю информацию о клиентах в одну таблицу, где одна строчка соответствует полной информации об одном клиенте.

In [24]:
import pandas as pd
path = 'https://raw.githubusercontent.com/aiedu-courses/stepik_linear_models/main/datasets/'

In [25]:
d_clients = pd.read_csv(f'{path}/D_clients.csv')
d_target = pd.read_csv(f'{path}/D_target.csv')
d_last_credit = pd.read_csv(f'{path}/D_last_credit.csv')
d_job = pd.read_csv(f'{path}/D_job.csv')
d_salary = pd.read_csv(f'{path}/D_salary.csv')
d_work = pd.read_csv(f'{path}/D_work.csv')
d_loan = pd.read_csv(f'{path}/D_loan.csv')
d_close_loan = pd.read_csv(f'{path}/D_close_loan.csv')
d_pens = pd.read_csv(f'{path}/D_pens.csv')

Убеждаемся, что в таблицах d_clients, d_target, d_last_credit, d_job, d_salary нет дублей по ID клиента:

In [26]:
print(d_clients.shape[0] == len(d_clients['ID'].unique()))
print(d_target.shape[0] == len(d_target['ID_CLIENT'].unique()))
print(d_last_credit.shape[0] == len(d_last_credit['ID_CLIENT'].unique()))
print(d_job.shape[0] == len(d_job['ID_CLIENT'].unique()))
print(d_salary.shape[0] == len(d_salary['ID_CLIENT'].unique()))

True
True
True
True
False

Видим, что в таблице d_salary есть дубли по ID. Посмотрим на них:

In [27]:
doubles_by_client = d_salary[d_salary.duplicated(subset=['ID_CLIENT'])]['ID_CLIENT'].values
d_salary[d_salary['ID_CLIENT'].isin(doubles_by_client)].sort_values(by = 'ID_CLIENT').head(10)

                FAMILY_INCOME  PERSONAL_INCOME  ID_CLIENT
5533   от 10000 до 20000 руб.           5000.0  106804370
9309   от 10000 до 20000 руб.           5000.0  106804370
1331   от 10000 до 20000 руб.          11000.0  106804441
6524   от 10000 до 20000 руб.          11000.0  106804441
7248   от 10000 до 20000 руб.           3000.0  106804476
11850  от 10000 до 20000 руб.           3000.0  106804476
2725   от 10000 до 20000 руб.           7800.0  106804526
12311  от 10000 до 20000 руб.           7800.0  106804526
10165        свыше 50000 руб.          18000.0  106804527
3124         свыше 50000 руб.          18000.0  106804527

Удалим полные дубли:

In [28]:
d_salary_without_doubles = d_salary[~d_salary.duplicated()]
print(d_salary_without_doubles.shape[0], d_salary_without_doubles.shape[0] == len(d_salary_without_doubles['ID_CLIENT'].unique()))

15223 True

Аналогично проверяем ссуды:

In [29]:
print(d_loan.shape[0] == len(d_loan['ID_LOAN'].unique()))

True

In [30]:
print(d_close_loan.shape[0] == len(d_close_loan['ID_LOAN'].unique()))

True

Получаем количество ссуд (всех и закрытых) у клиента:

In [31]:
d_loan_by_client = d_loan.groupby(['ID_CLIENT'], as_index=False).agg(LOAN_NUM_TOTAL=('ID_LOAN', 'nunique'))
d_close_loan_by_client = d_loan.merge(d_close_loan[d_close_loan['CLOSED_FL'] == 1], how = 'inner', on = 'ID_LOAN').groupby(['ID_CLIENT'], as_index=False).agg(LOAN_NUM_CLOSED=('ID_LOAN', 'nunique'))
d_loan_by_client = d_loan_by_client.merge(d_close_loan_by_client, how = 'left', on = 'ID_CLIENT').fillna(0).astype(int)
d_loan_by_client.head()

   ID_CLIENT  LOAN_NUM_TOTAL  LOAN_NUM_CLOSED
0  106804370               1                1
1  106804371               1                1
2  106804372               2                1
3  106804373               1                1
4  106804374               2                1

In [39]:
data = d_clients.merge(d_loan_by_client, how = 'left', left_on = 'ID', right_on = 'ID_CLIENT')
data = data.merge(d_target, how = 'left', on = 'ID_CLIENT')
data = data.merge(d_salary_without_doubles, how = 'left', on = 'ID_CLIENT')
data = data.merge(d_last_credit, how = 'left', on = 'ID_CLIENT')
data = data[['AGREEMENT_RK', 'TARGET', 'AGE', 'SOCSTATUS_WORK_FL', 'SOCSTATUS_PENS_FL',
             'GENDER', 'CHILD_TOTAL', 'DEPENDANTS', 'PERSONAL_INCOME', 'FAMILY_INCOME', 'LOAN_NUM_TOTAL',
             'LOAN_NUM_CLOSED', 'CREDIT', 'TERM', 'FST_PAYMENT', 'MARITAL_STATUS', 'EDUCATION']]
data.head()

,AGREEMENT_RK,TARGET,AGE,SOCSTATUS_WORK_FL,SOCSTATUS_PENS_FL,GENDER,CHILD_TOTAL,DEPENDANTS,PERSONAL_INCOME,FAMILY_INCOME,LOAN_NUM_TOTAL,LOAN_NUM_CLOSED,CREDIT,TERM,FST_PAYMENT,MARITAL_STATUS,EDUCATION
0,60099204.0,1.0,42,1,0,1,1,0,25000.0,от 20000 до 50000 руб.,1.0,0.0,5588.0,6.0,1000.0,Не состоял в браке,Среднее
1,62244665.0,0.0,28,1,0,1,1,1,10000.0,от 10000 до 20000 руб.,1.0,0.0,19498.0,12.0,0.0,Состою в браке,Среднее специальное
2,61050759.0,0.0,64,1,1,0,2,0,30000.0,от 20000 до 50000 руб.,1.0,1.0,15470.0,3.0,15000.0,Состою в браке,Среднее специальное
3,62079659.0,0.0,54,1,0,1,0,0,25000.0,от 20000 до 50000 руб.,1.0,0.0,13960.0,6.0,2500.0,Состою в браке,Среднее специальное
4,66583553.0,0.0,26,1,0,0,1,1,15000.0,от 10000 до 20000 руб.,2.0,2.0,11890.0,6.0,8000.0,Состою в браке,Среднее специальное

## Задание 2

При помощи инструмента Streamlit проведите разведочный анализ данных. В него может входить:

* построение графиков распределений признаков
* построение матрицы корреляций
* построение графиков зависимостей целевой переменной и признаков
* вычисление числовых характеристик распределения числовых столбцов (среднее, min, max, медиана и так далее)
* любые другие ваши идеи приветствуются!

In [2]:
import pandas as pd
import streamlit as st
import seaborn as sns
import matplotlib.pyplot as plt
path = 'https://raw.githubusercontent.com/aiedu-courses/stepik_linear_models/main/datasets/'

d_clients = pd.read_csv(f'{path}/D_clients.csv')
d_target = pd.read_csv(f'{path}/D_target.csv')
d_last_credit = pd.read_csv(f'{path}/D_last_credit.csv')
d_job = pd.read_csv(f'{path}/D_job.csv')
d_salary = pd.read_csv(f'{path}/D_salary.csv')
d_work = pd.read_csv(f'{path}/D_work.csv')
d_loan = pd.read_csv(f'{path}/D_loan.csv')
d_close_loan = pd.read_csv(f'{path}/D_close_loan.csv')
d_pens = pd.read_csv(f'{path}/D_pens.csv')

d_salary_without_doubles = d_salary[~d_salary.duplicated()]
d_loan_by_client = d_loan.groupby(['ID_CLIENT'], as_index=False).agg(LOAN_NUM_TOTAL=('ID_LOAN', 'nunique'))
d_close_loan_by_client = d_loan.merge(d_close_loan[d_close_loan['CLOSED_FL'] == 1],
how = 'inner', on = 'ID_LOAN').groupby(['ID_CLIENT'], as_index=False).agg(LOAN_NUM_CLOSED=('ID_LOAN', 'nunique'))
d_loan_by_client = d_loan_by_client.merge(d_close_loan_by_client, how = 'left', on = 'ID_CLIENT').fillna(0).astype(int)

data = d_clients.merge(d_loan_by_client, how = 'left', left_on = 'ID', right_on = 'ID_CLIENT')
data = data.merge(d_target, how = 'left', on = 'ID_CLIENT')
data = data.merge(d_salary_without_doubles, how = 'left', on = 'ID_CLIENT')
data = data.merge(d_last_credit, how = 'left', on = 'ID_CLIENT')
data = data[['AGREEMENT_RK', 'TARGET', 'AGE', 'SOCSTATUS_WORK_FL', 'SOCSTATUS_PENS_FL',
             'GENDER', 'CHILD_TOTAL', 'DEPENDANTS', 'PERSONAL_INCOME',  'FAMILY_INCOME', 'LOAN_NUM_TOTAL',
             'LOAN_NUM_CLOSED', 'CREDIT', 'TERM', 'FST_PAYMENT']]

st.title("EDA")
st.subheader("Описательные статистики")
st.write(data.describe())
st.write("Категориальные переменные")
st.write(data.describe(include = 'object'))
st.subheader("Пример данных")
st.write(data.head(10))
st.subheader("Распределение целевой переменной")
fig, ax = plt.subplots()
sns.barplot(x = data['TARGET'].value_counts().index, y = data['TARGET'].value_counts().values, ax=ax)
ax.set_title('TARGET')
st.pyplot(fig)
numeric_columns  = ['AGE', 'CHILD_TOTAL', 'DEPENDANTS',
       'LOAN_NUM_TOTAL', 'LOAN_NUM_CLOSED',
       'PERSONAL_INCOME', 'CREDIT', 'TERM', 'FST_PAYMENT']
titles  = ['Возраст', 'Количество детей', 'Количество иждивенцев',
       'Количество ссуд клиента', 'Количество погашенных ссуд клиента',
       'Личный доход', 'Сумма последнего кредита клиента', 'Срок кредита', 'Первоначальный взнос']
titles_dict = dict(zip(numeric_columns, titles))
st.subheader("Распределение независимых переменных")
for column in numeric_columns:
    fig, ax = plt.subplots()
    sns.histplot(data[column], ax=ax)
    ax.set_title(titles_dict[column])
    st.pyplot(fig)

fig, ax = plt.subplots()
sns.barplot(x = data['SOCSTATUS_WORK_FL'].value_counts().index, y = data['SOCSTATUS_WORK_FL'].value_counts().values, ax=ax)
ax.set_title('Наличие работы')
plt.xticks(rotation=50)
st.pyplot(fig)
fig, ax = plt.subplots()
sns.barplot(x = data['FAMILY_INCOME'].value_counts().index,
y = data['FAMILY_INCOME'].value_counts().values, ax=ax, order = ['до 5000 руб.', 'от 5000 до 10000 руб.',  'от 10000 до 20000 руб.',
'от 20000 до 50000 руб.', 'свыше 50000 руб.'])
plt.xticks(rotation=50)
st.pyplot(fig)

st.subheader("Диаграммы рассеяния")
column_pairs = [('CHILD_TOTAL', 'PERSONAL_INCOME'), ('CREDIT', 'PERSONAL_INCOME')
               , ('AGE', 'PERSONAL_INCOME'), ('PERSONAL_INCOME', 'LOAN_NUM_TOTAL')
               , ('PERSONAL_INCOME', 'LOAN_NUM_CLOSED')]
titles_scatter = ['Количество детей и доход', 'Сумма последнего кредита и личный доход',
                  'Возраст и личный доход', 'Личный доход и число ссуд клиента',
                   'Личный доход и число погашенных ссуд клиента']
titles_scatter_dict = dict(zip(column_pairs, titles_scatter))
for x_column, y_column in column_pairs:
    fig, ax = plt.subplots()
    sns.scatterplot(x=data[x_column], y=data[y_column], ax=ax)
    ax.set_title(titles_scatter_dict[(x_column, y_column)])
    st.pyplot(fig)
st.subheader("Матрица корреляций")
corr_matrix = data[numeric_columns].corr(numeric_only = True)
fig, ax = plt.subplots()
sns.heatmap(corr_matrix, annot=True, cmap="coolwarm", linewidths=.5, fmt=".2f", ax=ax)
st.pyplot(fig)